$palette: (
  // Primary
  White: #ffffff,
  GhostWhite: #f9f8ff,
  BermudaGrey: #6994a8,
  NeonBlue: #7971e9,
  LightPurple: #f4eeff,
  Bledisloe: #1b262c,
  DarkText: #8a8f95,
  RealyDarkText: #5d6971,
  Mirage: #1b262c,
  EbonyClay: #293942
);
