@import "../../styles/shared-styles.scss";
.navigationWrapper {
  background-color: color(EbonyClay);
  padding: to-rem(0 200);
  @include media("<=phone") {
    padding: to-rem(0 30);
  }
  @include media(">=tablet", "<ndesktop") {
    padding: to-rem(0 60);
  }
  @include media(">=ndesktop", "<LGdesktop") {
    padding: to-rem(0 100);
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: to-rem(120);
  @include media(">=LGdesktop") {
    max-width: to-rem(1920);
    margin: 0 auto;
    padding: to-rem(0);
  }

  &__list {
    display: flex;
    align-items: center;
    width: to-rem(690);
    justify-content: space-between;
    @include media("<=tablet") {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      width: to-rem(313);
      justify-content: space-between;
      li {
        font-size: to-rem(24);
        font-weight: 600;
        color: color(GhostWhite);
        cursor: pointer;
        @include media(">=tablet", "<ndesktop") {
          font-size: to-rem(20);
        }
        &:hover {
          transition: 0.5s;
          color: color(NeonBlue);
        }
      }
    }
    &__signInBtn {
      width: to-rem(160);
      height: to-rem(55);
      @include media(">=tablet", "<ndesktop") {
        width: to-rem(100);
        height: to-rem(35);
      }
    }
    &__signUpBtn {
      width: to-rem(145);
      height: to-rem(55);
      @include media(">=tablet", "<ndesktop") {
        width: to-rem(100);
        height: to-rem(35);
      }
    }
  }
}
